@font-face {
  font-family: "Cormorant";
  font-weight: 700;
  font-style: normal;
  font-display: swap;
  src:
    local("Cormorant"),
    url("../fonts/Cormorant/Cormorant-VariableFont_wght.woff2") format("woff2"),
    url("../fonts/Cormorant/Cormorant-VariableFont_wght.woff") format("woff"),
    url("../fonts/Cormorant/Cormorant-VariableFont_wght.eot") format("eot");
}
