/*= GLOBAL =========================================================================================*/
/*- GLOBAL -----------------------------------------------------------------------------------------*/
/*- GLOBAL -----------------------------------------------------------------------------------------*/

html, body {
  font-family: Lato, sans-serif;
  color: #424551;
  line-height: 160%;
}

.wrapper {
  min-height: 100%;
  width: 100%;
  overflow: hidden;
}

.container {
  max-width: 1260px;
  padding: 0 15px;
  margin: 0 auto;
  height: 100%;
}

.main_about {
  padding: 180px 0 160px;
}



/*= HEADER ======================================================================================*/
/*= HEADER ======================================================================================*/
/*= HEADER ======================================================================================*/




.header {
  font-weight: 700;
  background:
    linear-gradient(55.95deg,
      rgba(255, 63, 58, 0.2) 0%,
      rgba(247, 94, 5, 0.2) 100%);
  height: 100vh;
  display: flex;
  flex-direction: column;
}



/*- HEADER-TOP ----------------------------------------------------------------------------------*/
/*- HEADER-TOP ----------------------------------------------------------------------------------*/
/*- HEADER-TOP ----------------------------------------------------------------------------------*/





.header_top-inner {
  padding: 20px 0px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}


/*- HEADER-BODY ---------------------------------------------------------------------------------*/
/*- HEADER-BODY ---------------------------------------------------------------------------------*/

.header_body {
  flex-grow: 1;
}

.header_body-inner {
  display: flex;
  flex-direction: column;
  height: 100%;
}


/*= FOOTER ======================================================================================*/
/*- FOOTER --------------------------------------------------------------------------------------*/
/*- FOOTER --------------------------------------------------------------------------------------*/



.footer {
  color: #fff;
}


/*= FOOTER TOP ======================================================================================*/
/*- FOOTER TOP --------------------------------------------------------------------------------------*/
/*- FOOTER TOP --------------------------------------------------------------------------------------*/



.footer_top {
  background-color: var(--gray-900, #1E212C);
  padding: 80px 0 60px;
}

.footer_top-inner {
  display: flex;
  justify-content: space-between;
  margin: 0 -15px;
  width: 100%;
}


/*= FOOTER BOTTOM ======================================================================================*/
/*- FOOTER BOTTOM --------------------------------------------------------------------------------------*/
/*- FOOTER BOTTOM --------------------------------------------------------------------------------------*/




.footer_bottom {
  background-color: #292C37;
}

.footer_bottom-inner {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 0;
}
